@import "https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap";
@import 'https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700,900&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
}

header {
  padding: 10px 0;
  text-align: center;
}
header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.content {
  padding: 0 10px;
}

.btn {
  background: #4b6cc1;
  color: white;
  padding: 5px;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}

.form {
  max-width: 300px;
  margin: 20px auto auto;
}
.form .btn {
  width: 100%;
}
.form a {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.greeting-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.greeting-box .greeting-text {
  margin: auto 10px;
}

.icons {
  margin-bottom: 1rem;
}
.icons .status-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.icons .status-box .status {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.user-guide-box span {
  display: inline-block;
  width: 70vw;
  max-width: 350px;
  text-decoration: underline;
}
.user-guide-box .user-guide {
  width: 80vw;
  max-width: 500px;
}

.fc-toolbar > * > :not(:first-child) {
  margin-left: 0;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 10px;
  font-size: 0.8rem;
}
.fc-toolbar.fc-header-toolbar .fc-button {
  padding: 5px;
}

.fc-button-group:first-child {
  margin-right: 10px;
}

.fc-left {
  display: flex;
  flex-direction: row;
}

.fc-center {
  width: 100%;
  text-align: center;
}
.fc-center h2 {
  font-size: 1rem;
  font-weight: 800;
}

.fc-right {
  display: flex;
  flex-direction: row;
}

.fc-day-header {
  font-size: 0.8rem;
}

th.fc-day-header {
  padding: 5px 0;
}

.fc-list-heading td {
  font-weight: 500;
}

.fc-day-grid-event .fc-time, .fc-day-grid-event .fc-title {
  font-weight: 300;
  font-size: 0.6rem;
}

.modal-title {
  font-size: 1rem;
}

.time-picker-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.time-picker-box:first-child {
  margin-bottom: 10px;
}
.time-picker-box label {
  min-width: 100px;
  margin-bottom: 0;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .fc-button-group:first-child {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .fc-left {
    flex-direction: column;
  }
  .fc-left .fc-today-button {
    display: block;
    width: 60px;
  }

  .fc-right {
    flex-direction: column;
    text-align: right;
  }
  .fc-right .fc-button-group {
    width: 80px;
  }

  .fc-list-table td {
    padding: 5px 10px;
  }

  tr.fc-list-heading, tr.fc-list-item {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 801px) {
  .content {
    padding: 0 60px 0;
  }

  .fc-day-grid-event .fc-time, .fc-day-grid-event .fc-title {
    font-weight: 500;
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=index.css.map */
