@import "https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
@import 'https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700,900&display=swap'

// **********  Global styles **********  
*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  font-family: 'Poppins', sans-serif
  // font-family: "Rubik","Arial",sans-serif
  font-size: 16px
  line-height: 1.15

header
  padding: 10px 0
  text-align: center
  h1 
    font-size: 1.5rem
    font-weight: 600
.content
  padding: 0 10px

.btn
  background: #4b6cc1
  color: white
  padding: 5px
  &.btn-danger
    background: #dc3545
  &.btn-secondary
    background: #6c757d

footer 
  text-align: center
  padding-bottom: 1rem
// **********  End of global styles ********** 
  
// Style of form
.form-control // override react-bootstrap form inputs style
  margin-bottom: 0

.form
  max-width: 400px
  margin: 20px auto auto
  &>.form-control
    margin-bottom: 1rem
  .input-box
    margin-bottom: 1rem
    span 
      margin-top: 5px
      font-size: 12px
  input 
    padding: 25px 15px
    font-size: 1.25rem
    font-weight: 400
    &[type=submit]
      padding: 15px
      font-weight: 500
      letter-spacing: 1px
  .btn
    width: 100%
  .btn2
    text-decoration: underline
    text-align: center
    margin-top: 1rem
    cursor: pointer

// **********  Style of homepage ********** 
// Styles for greeting line
.greeting-box
  display: flex
  flex-direction: row
  justify-content: flex-end
  .greeting-text
    margin: auto 10px

// Styles for icons area, including colored status & user-guide
.icons
  margin-bottom: 1rem
  .status-box
    display: flex
    flex-direction: row
    flex-wrap: wrap    
    .status
      display: flex
      flex-direction: row
      margin-right: 30px

.user-guide-box
  span 
    display: inline-block
    width: 70vw
    max-width: 350px
    text-decoration: underline
  .user-guide
    width: 80vw
    max-width: 500px
  
// ***** Style of calendar *****
// Style of toolbar, including buttons & Date-title
.fc-toolbar > * > :not(:first-child)
  margin-left: 0 // overrite origin style

.fc-toolbar.fc-header-toolbar
  margin-bottom: 10px
  font-size: 0.8rem
  .fc-button
    padding: 5px
  
.fc-button-group:first-child
  margin-right: 10px
  
.fc-left
  display: flex
  flex-direction: row
  
.fc-center
  width: 100%
  text-align: center
  h2
    font-size: 1rem
    font-weight: 800

.fc-right
  display: flex
  flex-direction: row

// header of month/week/day view 
.fc-day-header 
  font-size: 0.8rem

th.fc-day-header
  padding: 5px 0

// header of list view
.fc-list-heading td 
  font-weight: 500

// event inside day grid in month view
.fc-day-grid-event 
  .fc-time, .fc-title
    font-weight: 300
    font-size: 0.6rem

// Style of popup modal
.modal-title
  font-size: 1rem

.time-picker-box
  display: flex
  flex-direction: row
  align-items: center
  &:first-child
    margin-bottom: 10px
  label
    min-width: 100px
    margin: auto 0

.checkbox-row
  margin: 2rem auto

select.form-control, textarea.form-control // override react-bootstrap form inputs style
  margin-bottom: 0

.modal-footer
  display: flex
  flex-direction: row
  justify-content: center
  
// style for iPhone SE
@media screen and (max-width: 320px)
  .fc-button-group:first-child
    margin-bottom: 10px
    margin-right: 0
  .fc-left
    flex-direction: column
    .fc-today-button
      display: block
      width: 60px
  .fc-right
    flex-direction: column
    text-align: right
    .fc-button-group
      width: 80px
  
  // Style of list view
  .fc-list-table td
    padding: 5px 10px

  tr.fc-list-heading, tr.fc-list-item
    font-size: 0.8rem


// style for phones
@media screen and (max-width: 800px)
  .form input, .form input[type=submit]
    padding: .375rem .75rem
    letter-spacing: 0
    font-size: 1rem
    font-weight: 300


// style for desktop
@media screen and (min-width: 801px)
  header h1 
    font-size: 2rem
  .content
    padding: 0 60px 0

  .fc-day-grid-event 
    .fc-time, .fc-title
      font-weight: 500
      font-size: 0.8rem  