// Import the required css file for FullCalendar.
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 10;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  z-index: 10;
}